---
title: GitLab Security Essentials
suppress_header: true
description: "GitLab Security Essentials"
extra_css:
  - services.css
---

.blank-header
  = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
  = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
  .header-content
    %h1 GitLab Education

.wrapper
  .page-container.container
    = partial "includes/services/detail-tile", locals: { id: "training_sessions_security_essentials_remote" }
    .row
      .col-md-12
        %h2 Course Syllabus
        %h3 Day 1: Part 1
        .row
          .col-md-8
            %table
              %thead
                %tr
                  %th Schedule
                  %th Topic
                  %th Overview
              %tbody
                %tr
                  %td 9:00 - 9:30a
                  %td Introducing the Secure Stage
                  %td 
                    %ul
                      %li Features available in the Secure Stage 
                      %li How Security Scanning at GitLab Works 
                      %li Types of Security Reports and Lists Available 

                %tr
                  %td 9:30 - 11:30a
                  %td Using SAST and DAST
                  %td 
                    %ul
                      %li What is Static Application Security Testing (SAST)
                      %li Steps for Using SAST 
                      %li Configuring SAST 
                      %li Reviewing Reports in the Security Dashboard
                      %li <strong>Demo</strong>: Enable SAST on a pipeline 
                      %li <strong>Hands On Lab</strong>: Using SAST on a project
                      %li What is Dynamic Application Security Testing (DAST)
                      %li Steps for Using DAST 
                      %li Configuring DAST 
                      %li Review Vulnerabilities and Reports
                      %li Approval Request Capabilities 
                      %li <strong>Demo</strong>: Review DAST Scanning Examples
                %tr
                  %td 11:45a - 1:00p
                  %td Dependency Scanning
                  %td 
                    %ul
                      %li What is Dependency Scanning
                      %li Steps for Using Dependency Scanning 
                      %li Configuring Dependency Scanning 
                      %li Review Scanning Output and Reports
                      %li <strong>Demo</strong>: Invoke Dependency Scanning on a pipeline 
                      %li <strong>Hands On Lab</strong>: Using Dependency Scanning on a pipeline
      .col-md-12
        %h3 Day 2: Part 2
        .row
          .col-md-8
            %table
              %thead
                %tr
                  %th Schedule
                  %th Topic
                  %th Overview
              %tbody
                %tr
                  %td 9:00 - 10:00a
                  %td Container Scanning 
                  %td 
                    %ul
                      %li What is Container Scanning
                      %li Steps for Using Container Scanning 
                      %li Configuring Container Scanning 
                      %li Review Scanning Output and Reports
                      %li <strong>Demo</strong>: Demo: Invoke Container Scanning on a pipeline 
                      %li <strong>Hands On Lab</strong>: Hands On Lab: Using Container Scanning on a pipeline
                %tr
                  %td 10:00 - 11:15a
                  %td License Compliance
                  %td 
                    %ul
                      %li What is License Compliance
                      %li Steps for Using License Compliance
                      %li Configuring License Compliance
                      %li Review Scanning Output and Reports
                      %li <strong>Demo</strong>: Add a License File to a Project
                      %li <strong>Demo</strong>: Invoke License Compliance on a pipeline
                      %li <strong>Hands On Lab</strong>: Using License Compliance on a pipeline
                %tr
                  %td 11:30a - 12:00p
                  %td Introducing the Protect Stage
                  %td 
                    %ul
                      %li Features available in the Protect Stage 
                      %li Feature Maturity for Protect Stage  
                %tr
                  %td 12:00 - 12:30p
                  %td Web Application Firewall (WAF)
                  %td 
                    %ul
                      %li What is Web Application Firewall (WAF)
                      %li WAF Requirements
                      %li How to Configure WAF 
                      %li WAF Updates
                      %li <strong>Demo</strong>: Modsecurity Enabled on a GitLab Project
                %tr
                  %td 12:30 - 1:00p
                  %td Policy Management for Container Network Policies
                  %td 
                    %ul
                      %li What is Container Network Policy Management
                      %li Policy Management Requirements
                      %li How to View Network Policy Lists and Reports
   
        = partial "includes/services/requirements", locals: { id: "training_sessions_security-essentials_remote" }
        = partial "includes/services/detail-tile", locals: { id: "training_sessions_security-essentials_remote" }
        


